<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Kehadiran</title>
    <link rel="stylesheet" href="style\absen.css">
    <script defer src="script\absen.js"></script>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><a href="#">Kelompok 5 Probstat</a></div>
            <ul class="links">
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="statistik">Statistic</a></li>
                <li><a href="contact">Contact</a></li>
            </ul>
            <a href="#" class="action_btn">Log out</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="statistik">Statistic</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="#" class="action_btn">Log out</a></li>
        </div>
    </header>

    <div class="attendance">
        <h1>Absensi Dengan Pengenalan Wajah</h1>
    </div>

    {% if mess}
    <p>{{mess}}</p>
    {% endif %}

    <div class="dashboard">
        <div class="daftar_hadir">
            <h2>Kehadiran</h2>
            <a href="">
                <button id="tombol_absen" type="submit" class="btn btn-primary">Absen</button>
            </a>
            <table>
                <tr>
                    <td><b>No</b></td>
                    <td><b>Nama</b></td>
                    <td><b>NIM</b></td>
                    <td><b>Waktu</b></td>
                </tr>
                {% if 1%}

                {% for i in range(1) %}
                <tr>
                    <td>{{ i+1 }}</td>
                    <td>{{ names[i] }}</td>
                    <td>{{ rolls[i] }}</td>
                    <td>{{ times[i] }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>

        <div class="col">
            <form action="/add" method="POST" enctype="multipart/form-data">
                <h2>Tambahkan Pengguna Baru</h2>
                <label><b>Nama Pengguna Baru</b></label><br>
                <input type="text" name="newusername" id="newusername">
                <label><b>Nomor Induk Mahasiswa</b></label><br>
                <input type="number" id="newusereid" name="newuserid"><br>
                <button>Tambahkan</button><br>
                <h5><i>Total Users in Database: {{totalreg}}</i></h5>
            </form>
        </div>
    </div>
</body>
</html>